src/Application/bin/
src/Application/obj/
src/Domain/bin/
src/Domain/obj/
src/NotificationService/bin/
src/NotificationService/obj/
src/Persistence/bin/
src/Persistence/obj/
src/Repository/bin/
src/Repository/obj/
src/Tests/bin/
src/Tests/obj/
src/NotificationService/notification_service.db
.vs/